<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Todo app</title>
    </head>
    <body>
        <div>
            <% if(currentUser) { %>
                <a href='/todos'>Todos</a>
                <a href="/user/logout">Logout</a>
            <% } else { %>
                <a href="/user/register">Register</a>
                <a href="/user/login">Login</a>
            <% } %>
        </div>
        <hr />
